<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>Insert title here</title>
</head>
<body>
<h1>Add category</h1>
<div >
	<form style="vertical-align:middle; " class="form" th:object="${category}" th:action="@{savecategory}" action="#" method="post">
		<p>
		<label for="name">Category name</label>
		<input type="text" id="name" th:field="*{name}"/>
		</p>
		<p>
		<input type="submit" class="btn btn-success" value="Save"></input>
		</p>
		<a class="btn btn-danger" href="/categorylist" >Back</a>
	</form>
</div>
</body>
</html>