<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<title>GearHeads</title>
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h3 th:inline="text">Welcome to GearHeads, [[${#httpServletRequest.remoteUser}]]</h3>
		<form th:action="@{/logout}" method="post" style="padding:20px 0">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	<h4>Your gear:</h4>
	<table class="table table-stripped" style="padding:20px 0">
		<tr>
			<th>Category</th>
			<th>Brand</th>
			<th>Model</th>
			<th>Year</th>
			<th>Serial</th>
			<th>Date added</th>
			<th>Price Bought</th>
			<th>Condition</th>
			<th>Description</th>
		</tr>
		
		<tr th:each = "instrument : ${gear}">
			<td th:text="${instrument.category.name}"></td>
			<td th:text="${instrument.brand}"></td>
			<td th:text="${instrument.model}"></td>
			<td th:text="${instrument.year}"></td>
			<td th:text="${instrument.serial}"></td>
			<td th:text="${instrument.dateAddedStr}"></td>
			<td th:text="${instrument.priceBought}"></td>
			<td th:text="${instrument.condition}"></td>
			<td th:text="${instrument.desc}"></td>
			<td sec:authorize="hasAuthority('USER')"><a th:href="@{/editinfo/{id}(id=${instrument.id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('USER')"><a th:href="@{/delete/{id}(id=${instrument.id})}" class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<a sec:authorize="hasAuthority('USER')" class="btn btn-success" href="/addinstrument" >Add Instrument</a>
	<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" href="/addcategory" >Add Category</a>
</div>
</body>
</html>